certifi
chardet
colorama==0.4.6
cycler
fonttools
joblib==1.4.2
kiwisolver
matplotlib==3.9.2
numba==0.60.0
numpy
pandas
pytest==8.3.3
pytest-cov
pytest-mock
python-dateutil
scikit-learn==1.5.2
SQLAlchemy
tqdm==4.67.0
umap-learn==0.5.7
fastapi==0.100.0
uvicorn==0.22.0
